# output & cache
.cache
coverage/
dist
build

# package-managers lockfiles
*.lerna_backup
yarn.lock
package-lock.json
npm-shrinkwrap.json

# packages not under ource control
packs/*.tgz
node_modules
packages/examples/automated-*

/**/LICENSE

docs/public
docs/.next
docs/lib/sitemap.js

*.log
.idea
.tern-port
*.DS_Store
junit.xml
docs/out
